<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex</title>
  <style>
    .container {
      display: flex;
      height: 400px;
    }

    .left {
      background: cornflowerblue;
    }

    .right {
      flex: 1;
      background: chartreuse;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left">左列不定宽左列不</div>
    <div class="right">右列自适应</div>
  </div>
</body>
</html>