<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex布局</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .container {
      min-width: 300px;
      display: flex;
      height: 200px;
    }

    .left {
      background: aquamarine;
      width: 100px;
    }

    .mid {
      background: darkmagenta;
      width: 200px;
    }

    .right {
      background: darkcyan;
      flex: 1;
    }
  </style>
</head>
<body>
  <section class="container">
    <div class="left">left定</div>
    <div class="mid">middle定</div>
    <div class="right">右边自适应</div>
  </section>
</body>
</html>