<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>table布局</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    
    .container {
      display: table;
      width: 100%;
      height: 200px;
    }

    .container>div {
      display: table-cell;
    }

    .left {
      background: darkcyan;
      width: 100px;
    }

    .mid {
      background: crimson;
    }

    .right {
      background: burlywood;
      width: 200px;
    }
  </style>
</head>
<body>
  <article class="container">
    <div class="left">left定</div>
    <div class="mid">中间自适应</div>
    <div class="right">right定</div>
  </article>
</body>
</html>